:host{
  height: 100%;
}

.componentsPage__cardList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.cardList__itemLink{
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

ng-content-card{
  transition: color 0s ease-in-out;
  height: 100%;
  max-width: 280px;
  border: 1px solid var(--color-fg-trans);

  --card-fg: var(--color-fg);
  --card-bg: var(--color-bg);
  --card-shadow: 1px 1px 10px var(--color-fg-trans);
  --card-hover-bg: var(--color-primary-trans);
}

ng-content-card [card-footer]{
  min-height: 2.4rem;
  padding-top: 0;
}
