
@use '../../../styles/scrollbar' as *;

:host{
  display: block;
  height: 100%;
  max-height: calc(100dvh - var(--total-header-height));
  overflow-y: auto;

  position: relative;

  @include custom-scrollbar;
}

.kitsLayout__container{
  min-height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.kitsLayout__main{
  background-color: var(--color-bg);
  padding: 1rem 20px 100px 20px;
}

@media screen and (max-width: 960px) {

  .kitsLayout__container{
    grid-template-columns: 1fr;
  }

  app-aside{
    display: none;
  }

}

@media screen and (max-width: 720px) {
  .kitsLayout__main{
    padding-top: 0;
  }
}
