:host{
  display: block;
  background: linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 100%);
  // height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // color: var(--theme);
}

.appHeader{
  padding: 8px 16px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeader__leftHeader{
  display: flex;
  column-gap: 1rem;
}

.leftHeader__brand{
  color: inherit;
}

.leftHeader__navList{
  height: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;

}

.leftHeader__navList a{
  color: inherit;
}

.resNav{
  display: none;
}

.appHeader__rightHeader{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.rightHeader__linkContainer{
  display: flex;

  font-weight: 600;
  font-size: .8rem;
}

.rightHeader__link{
  display: flex;
  align-items: center;
  column-gap: .5rem;

  border-radius: 1rem;
  padding: .5rem 1rem;
}

.rightHeader__linkIcon{
  fill: var(--color-fg);
}

.rightHeader__link:hover,
.rightHeader__themeBtnContainer:hover{
  background-color: var(--color-bg-trans);
}

.rightHeader__themeBtnContainer{
  padding: .5rem;
  border-radius: 50%;
}

ng-theme-toggle{
  // --theme-toggle-color: var(--color-fg);
  --theme-toggle-color-duration: 0s;

  --theme-toggle-color-dark: var(--color-fg);
  --theme-toggle-color-light: var(--color-fg);
  --theme-toggle-size: 27px;

}

@media screen and (max-width: 720px) {

  .leftHeader__nav{
    display: none;
  }

  .resNav{
    padding: 8px 16px;
    height: var(--header-height);

    display: flex;
    justify-content: center;
  }

  .resNav__nav{
    width: 100%;
  }

  .resNav__navList{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    column-gap: 1rem;
  }

  .resNav__navItem,
  .resNav__navLink{
    height: 100%;
    display: flex;
    align-items: center;
  }
}
