:host{
  display: block;
  background: linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.appHeader{
  padding: 8px 16px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeader__leftHeader{
  display: flex;
  align-items: center;
  column-gap: .8rem;
}

ng-link-button.brandLink{
  --link-button-padding: .5rem 1rem;
}

ng-link-button.brandLink svg{
  fill: var(--color-fg);
}

.leftHeader__navList{
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: .3rem;
  color: var(--color-fg);
}

ng-link-button{
  font-weight: 700;

  --link-button-padding: .7rem 1rem;
  --link-button-hover-bg: var(--color-bg-trans);
}

.leftHeader__navList a{
  color: inherit;
}

.resNav{
  display: none;
}

.appHeader__rightHeader{
  display: flex;
  align-items: center;
  margin-right: .2rem;

  column-gap: .3rem;
}

.rightHeader__linkContainer{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: .8rem;
}

ng-link-button.extLink{
  --link-button-padding: .5rem 1rem;
  --link-button-color: var(--color-fg);
}

ng-link-button.extLink .linkIcon{
  fill: var(--color-fg);
}

ng-theme-toggle{
  --theme-toggle-hover-transition: 0s linear;
  --theme-toggle-color-transition: 0s linear;

  --theme-toggle-color: var(--color-fb);
  --theme-toggle-size: 40px;
  --theme-toggle-padding: 8px;
  --theme-toggle-bg: transparent;
  --theme-toggle-hover-bg: var(--color-bg-trans);

}

@media screen and (max-width: 720px) {

  .leftHeader__nav{
    display: none;
  }

  .resNav{
    padding: 0px 16px 0px 16px;
    height: var(--header-height-secondary);

    display: flex;
    justify-content: center;
  }

  .resNav__nav{
    width: 100%;
  }

  .resNav__navList{
    display: flex;
    height: 100%;
    column-gap: 1rem;
  }

  .resNav__navItem,
  .resNav__navLink{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .resNav__navItem ng-link-button{
    --link-button-width: 100%;
  }

  ng-link-button.extLink span{
    display: none;
  }

  .rightHeader__linkContainer{
    column-gap: .3rem;
  }

  ng-link-button.extLink{
    --link-button-padding: .6rem .6rem;
  }
}
