:host{
  display: block;
  background-color: aqua;
  // height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.appHeader{
  padding: 8px 16px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeader__leftHeader{
  display: flex;
  column-gap: 1rem;
}

.leftHeader__navList{
  height: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.resNav{
  display: none;
}

@media screen and (max-width: 720px) {

  .leftHeader__nav{
    display: none;
  }

  .resNav{
    padding: 8px 16px;
    height: var(--header-height);

    display: flex;
    justify-content: center;
  }

  .resNav__nav{
    width: 100%;
  }

  .resNav__navList{
    display: flex;
    height: 100%;
    justify-content: center;
    column-gap: 1rem;
  }

  .resNav__navItem,
  .resNav__navLink{
    height: 100%;
    display: flex;
    align-items: center;
  }
}
