<header class="appHeader">

  <section class="appHeader__leftHeader">

    <a class="leftHeader__brand" routerLink="/">
      <h2>Logo</h2>
    </a>

    <nav class="leftHeader__nav">
      <ul class="leftHeader__navList">
        <li class="leftHeader__navItem">
          <a routerLink="components">
            Components
          </a>
        </li>
        <li>
          <a routerLink="kits">
            Kits
          </a>
        </li>
      </ul>
    </nav>

    </section>

    <section class="appHeader__rightHeader">
      Theme button | npm y github
    </section>

</header>
<section class="resNav">
    <nav class="resNav__nav">
      <ul class="resNav__navList">
        <li class="resNav__navItem">
          <a routerLink="components" class="resNav__navLink">
            Components
          </a>
        </li>
        <li>
          <a routerLink="kits" class="resNav__navLink">
            Kits
          </a>
        </li>
      </ul>
    </nav>
</section>

