:host{
  display: block;
  height: 100%;
}

.homePage__sections{
  margin: 0 auto;
  max-width: 1080px;
  padding: 1rem;
}

.homePage__homeIntro{
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  column-gap: 1rem;
  position: relative;
  border-bottom: .5px solid var(--color-fg-trans);
}

.homeIntro__article{
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-wrap: pretty;
}

.homeIntro__article h2{
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

.homeIntro__article p{
  font-size: 1rem;
  line-height: 1.3rem;
}

@media screen and (max-width: 834px) {
  .homePage__homeIntro{
    padding-top: .8rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .homeIntro__article{
    text-wrap: balance;
    text-align: center;
  }
}
