:host{
  display: grid;
  grid-template-areas:
    "nav nav"
    "content aside"
    "content aside";
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;

  padding: 0 1rem;

  min-width: 0;
}

.componentLayout__nav{
  grid-area: nav;
  height: 48px;
  margin-bottom: 2rem;

  border-bottom: 1px solid var(--color-fg-trans);

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;

  background-color: var(--color-bg);
}

ng-scroll-nav{
  grid-area: nav;
  margin-bottom: 1.5rem;

  position: sticky;
  top: 0;
  left: 0;

  --scroll-nav-bg: var(--color-bg);

  z-index: 20;
}

ng-scroll-nav ng-link-button{
  font-weight: 500;

  --link-button-width: 156px;
  --link-button-height: 100%;
  --link-button-padding: 16px;
  --link-button-hover-bg: var(--color-secondary-trans);
  --link-button-bg: transparent;
  --link-button-color: var(--color-fg);
  --link-button-active-bg: var(--color-primary-trans);

}

ng-link-button ::ng-deep .linkButton.active{
  position: relative;
}

ng-link-button ::ng-deep .linkButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: var(--color-primary);
  transform-origin: center;
  transition: transform .3s ease-in-out;
  transform: scaleX(0);
}

ng-link-button ::ng-deep .linkButton.active::after {
  transform: scaleX(1);
  width: 100%;
}

.componentLayout__content{
  height: 100%;
  grid-area: content;
  min-width: 0;
}

.componentLayout__content.separeFromAside{
  margin-right: 2rem;
}

app-doc-nav{
  grid-area: aside;
}

@media screen and (max-width: 1200px) {

  .componentLayout__content.separeFromAside{
    margin-right: 0rem;
  }

  app-doc-nav{
    display: none;
  }

}

@media screen and (max-width: 500px) {
  .componentLayout__nav{
    overflow-x: auto;
  }

  :host{
    padding: 0;
  }

}
