:host{
  display: block;
  height: 100%;
  max-height: calc(100dvh - var(--header-height-up));
  background-color: var(--color-bg);
  margin-top: var(--header-height-up);
  overflow-y: auto;
}

.appMain{
  height: 100%;
}
