:host {
  display: block;
}

ng-content-carousel{
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}

.carouselItemContent{
  width: 150px;
  height:120px;
  background: var(--color-fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.carouselItemContent span{
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: 700;
  margin-top: .5rem;
}
