.docs h1 {
  margin: 16px 0;
}

.docs h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 16px 0 16px 0;
}

.docs p {
  font-size: 1rem;
  margin-bottom: .5rem;
  line-height: 1.5rem;
  text-wrap: pretty;
}

.docs p a,
.docs li a {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.docs p em,
.docs li em {
  color: var(--color-primary);
  font-style: normal;
}

.docs p strong {
  color: var(--color-primary);
  font-weight: 700;
}

.docs div.note {
  background-color: #bbbbbb6c;
  padding: 1rem;
  margin: 1.5rem 0 1rem 0;
  border-left: 5px solid var(--color-primary);
}

.docs div.note p{
  margin-bottom: 0;
}

.docs div.note em{
  font-weight: 700;
}


.docs ul{
  margin-bottom: 1rem;
}

.docs li{
  list-style-type: circle;
  font-size: 1rem;
  margin-left: 1rem;
  line-height: 1.5rem;
}

.docs app-divider{
  margin-top: 2rem;
}

