.docs h1 {
  margin: 16px 0;
}

.docs h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 16px 0;
}

.docs p {
  font-size: 1rem;
  margin-bottom: .5rem;
  line-height: 1.5rem;
}

.docs p a,
.docs li a {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.docs p em,
.docs li em {
  color: var(--color-primary);
}

.docs p strong {
  color: var(--color-primary);
  font-weight: 700;
}

.docs pre{
  padding: 1rem 0 !important;

}

.docs pre code{
  border: 1px solid var(--color-fg-trans);
}

// .docs pre{
//   padding: 0 !important;
//   margin: 1rem 0;
//   // box-shadow: 1px 1px 7px var(--color-fg-trans);
//   border: 2px solid var(--color-fg-trans);
// }

// .docs pre.bash code{
//   padding: 1rem !important;
// }

// .docs pre code {
//   background-color:var(--color-dark);
//   padding: 0rem 1rem !important;

// }

.docs ul{
  margin-bottom: 1rem;
}

.docs li{
  list-style-type: circle;
  font-size: 1rem;
  margin-left: 1rem;
  line-height: 1.5rem;
}
