.pg h1 {
  margin: 16px 0;
}

.pg .componentViewer{
  border: 1px solid var(--color-fg-trans);
  padding: 40px 2rem;
  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.pg .componentView{
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.pg .codeOptions{
  display: flex;
  justify-content: end;
}

.pg .codeOptions ng-simple-button{
  --simple-button-hover-bg: transparent;
  --simple-button-hover-color: var(--color-primary);
}

.pg .codeOptions ng-simple-button:hover svg{
  fill: var(--color-primary);
}

.pg .codeView{
  display: none;
}

.pg .codeView.show{
  display: block;
}

.pg ng-expand{
  --expand-border: 1px solid var(--color-fg-trans);
  --expand-bg: transparent;
  --expand-border-radius: 0rem;

  --expand-button-font-size: 1.05rem;
  --expand-button-font-weight: 700;
  --expand-button-hover-bg: var(--color-secondary-trans);
  --expand-button-expanded-bg: var(--color-primary-trans);

  margin-bottom: 1rem;
}

.pg .componentOptions{
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .pg .componentViewer{
    padding: 40px 1rem;
  }
}
