:root{
  --header-height: 56px;
  --header-height-secondary: 48px;
  --header-height-up: 56px;

  --header-height-tertiary: 48px;

  --total-header-height: 56px;

  --main-gradient: linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 100%);

  --color-primary: #30a2fe;
  --color-secondary: #824dfe;
  --color-primary-trans: #30a1fe52;
  --color-secondary-trans: #824dfe48;

  --color-dark: #0b0c0c;
  --color-light: #FFF8F8;
  --color-dark-trans: #0b0c0c41;
  --color-light-trans: #fff8f83d;

  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);
  --color-bg-trans: var(--color-dark-trans);
  --color-fg-trans: var(--color-light-trans);

}

html{
  height: 100dvh;
  overflow: hidden;
  color: var(--color-fg);
}

html.light{
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
  --color-bg-trans: var(--color-light-trans);
  --color-fg-trans: var(--color-dark-trans);
}

body{
  font-family: 'DejaVu Sans';
  font-size: 14px;
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-fg);
}

button{
  cursor: pointer;
}

main:focus-visible{
  outline: none;
  border: none;
}

ng-link-button{
  --link-button-transition-duration: 0;
}

.pageTitle__gradient{
  margin: 0 auto;
  width: fit-content;
  background: linear-gradient(to right, var(--color-primary) 20%, var(--color-secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text; /* necesario para Safari/Chrome */
  color: transparent;
  -webkit-text-fill-color: transparent; /* necesario para Safari */
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 960px) {
  :root{
    --total-header-height: calc(var(--header-height-up) + var(--header-height-tertiary));
  }
}

@media screen and (max-width: 720px) {
  :root{
    --header-height-up: calc(var(--header-height) + var(--header-height-secondary));
  }
}


