<!-- COMPONENT VIEWER -->
<section class="componentViewer">

  <article class="componentView">

    <ng-simple-button
      (onClick)="generateRandomNumber()"

      class="playgroundButton"

      [type]="type()"
      [class.solid]="type() === 'solid'"
      [class.minimal]="type() === 'minimal'"
      [class.outline]="type() === 'outline'"

      [square]="square()"

      [hover]="hover()"
      [class.toneHover]="hover() === 'tone'"
      [class.scaleHover]="hover() === 'scale'"
      [class.strokeHover]="hover() === 'stroke'"
      [class.shadowHover]="hover() === 'shadow'"

      [direction]="direction()"

      [disabled]="disabled()"
      [ariaLabel]="ariaLabel()"
      [tabIndex]="tabIndex()"
      [title]="title()"

    >
      <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#ffffff"><path d="M300-240q25 0 42.5-17.5T360-300q0-25-17.5-42.5T300-360q-25 0-42.5 17.5T240-300q0 25 17.5 42.5T300-240Zm0-360q25 0 42.5-17.5T360-660q0-25-17.5-42.5T300-720q-25 0-42.5 17.5T240-660q0 25 17.5 42.5T300-600Zm180 180q25 0 42.5-17.5T540-480q0-25-17.5-42.5T480-540q-25 0-42.5 17.5T420-480q0 25 17.5 42.5T480-420Zm180 180q25 0 42.5-17.5T720-300q0-25-17.5-42.5T660-360q-25 0-42.5 17.5T600-300q0 25 17.5 42.5T660-240Zm0-360q25 0 42.5-17.5T720-660q0-25-17.5-42.5T660-720q-25 0-42.5 17.5T600-660q0 25 17.5 42.5T660-600ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
      ROLL DICE
    </ng-simple-button>

    <div class="randomNumber">
      {{randomNumber()}}
    </div>

  </article>

</section>

<!-- CODE VIEWER -->
<section class="codeViewer">

  <!-- CODE OPTIONS -->
  <section class="codeOptions">
    <ng-simple-button type="minimal" hover="tone" [square]="true" (onClick)="toggleShowCode()">
      {{showCode() ? 'Hide code' : 'Show Code'}}
      <app-pg-show-code-icon [showCode]="showCode()"/>
    </ng-simple-button>
  </section>

  <!-- CODE VIEW -->
  <section class="codeView" [class.show]="showCode()">
      <app-code-block
        language="html"
        [code]="currentCode()"
      />
  </section>

</section>


<!-- CODE VIEWER -->
<section class="componentOptions">

  <ng-expand label="Style & Behavior Inputs">
    <app-pg-input-selector
      name="type"
      description="Defines the button’s visual style."
      [options]="['solid', 'minimal', 'outline']"
      (changeFn)="handleTypeInput($event)"
    />

    <app-pg-input-selector
      name="square"
      description="Makes the button shape perfectly square instead of rounded."
      [options]="['false', 'true']"
      (changeFn)="handleSquareInput($event)"
    />

    <app-pg-input-selector
      name="hover"
      description="	Sets the hover effect style."
      [options]="['tone', 'scale', 'stroke', 'shadow', 'none']"
      (changeFn)="handleHoverInput($event)"
    />

    <app-pg-input-selector
      name="direction"
      description="Arranges the button’s inner content horizontally or vertically."
      [options]="['row', 'column']"
      (changeFn)="handleDirectionInput($event)"
    />
  </ng-expand>

  <ng-expand label="Accessibility Inputs">
    <app-pg-input-selector
      type="text"
      name="ariaLabel"
      description="Provides an accessible label for assistive technologies."
      (changeFn)="handleAriaLabelInput($event)"
    />

    <app-pg-input-selector
      type="text"
      name="title"
      description="Sets the native tooltip text shown on hover."
      (changeFn)="handleTitleInput($event)"
    />

    <app-pg-input-selector
      name="disabled"
      description="Disables the button and prevents user interaction."
      [options]="['false', 'true']"
      (changeFn)="handleDisabledInput($event)"
    />

    <app-pg-input-selector
      name="tabIndex"
      description="Controls the button’s tab order in keyboard navigation."
      [options]="['0', '-1']"
      (changeFn)="handleTabIndexInput($event)"
    />
  </ng-expand>

</section>
