<section class="homeFeatComponents">

  <header id="featured" class="homeFeatComponents__header">
    <h2>Featured components</h2>
    <ng-link-button type="minimal" hover="outline" routerLink="components" ariaLabel="Go to components page">
      View all components
    </ng-link-button>
  </header>

  @if (featuredComponents()) {
  <ng-content-carousel advanceMode="single" [hideArrowsOnEdges]="false">
    @for (component of featuredComponents(); track $index) {
        <a carouselItem href="/">
          <ng-image-card hover="color">
            <section card-image>
              <img class="scaleHover" [src]="component.image" alt="Dog">
            </section>
            <section card-footer>
              {{component.name}}
            </section>
          </ng-image-card>
        </a>
    }
  </ng-content-carousel>
  }
  </section>
