:host{
  display: block;
  // width: 100%;
}

.homeFeatComponents{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.homeFeatComponents__header{
  margin: 1rem 2rem .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-link-button{
  color: var(--color-primary);
  --link-button-hover: var(--color-fg-trans);
}

ng-image-card{
  min-width: 280px;
}

ng-image-card [card-footer]{
  font-size: 1.1rem;
}

@media screen and (max-width: 1100px) {
  ng-image-card{
    min-width: 220px;
    height: auto;
  }

  ng-image-card [card-image]{
    min-height: unset !important;
    height: auto;
  }
}

@media screen and (max-width: 600px) {

  .homeFeatComponents__header{
    flex-direction: column;
    gap: 1rem;
  }
}
