<header class="resMenu__header" >
  <ng-menu-toggle
    [class.opened]="menuService.isOpenMenu()"
    [isOpenSignal]="menuService.isOpenMenu"
    animation="rotateX"
  />
</header>
<div
  (click)="menuService.isOpenMenu.set(false)"
  class="resMenu__wrapper"
  [class.hidden]="!menuService.isOpenMenu() "
>
</div>

<nav class="resMenu__asideNav" [class.shown]="menuService.isOpenMenu()">
  <ul>
    @for (component of menuItems(); track $index) {
          <li>
            <ng-link-button type="minimal" [routerLink]="component.url" [ariaLabel]="'Go to ' + component.name + ' page'">
              {{component.name}}
            </ng-link-button>
          </li>
        }
    </ul>
</nav>
