:host{
  display: block;
  background: linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 100%);
  // min-height: 400px;
  // height: 400px;
}

ng-hero-carousel{
  --carousel-bg: transparent;
  --carousel-height: 300px;
  --carousel-title-size: 1.3rem;
  --carousel-transition-translate-y: 0;
}

ng-link-button{
  font-size: .9rem;
  font-weight: 700;

  --link-button-bg: var(--color-fg);
  --link-button-color: var(--color-bg);
  --link-button-padding: .7rem 1rem;
  --link-button-hover-bg: color-mix(in srgb, var(--color-fg) 90%, rgb(85, 85, 85));
  --link-button-transition-duration: 0;
}

ng-link-button.kitsLink{
  max-width: 100px;
  --link-button-width: 100%;
}

ng-link-button:hover{
  box-shadow: 2px 2px 5px rgb(49, 49, 49);
}
