:host{

  --link-button-width: auto;
  --link-button-bg: transparent;
  --link-button-color: inherit;
  --link-button-hover: var(--color-bg-trans);
  --link-button-hover-shadow: none;
  --link-button-active: var(--color-bg-trans);
  --link-button-text-align: center;
  --link-button-font-size: .9rem;
  --link-button-font-weight: 700;

  display: block;
  width: var(--link-button-width);
}

.linkButton{
  width: var(--link-button-width);
  display: block;
  font-size: var(--link-button-font-size);
  font-weight: var(--link-button-font-weight);
  text-align: var(--link-button-text-align);
  background: var(--link-button-bg);
  color: var(--link-button-color);
  padding: .7rem 1rem;
  border-radius: 1rem;
}

.linkButton:hover{
  background-color: var(--link-button-hover);
  box-shadow: var(--link-button-hover-shadow);
}

.linkButton.active{
  background-color: var(--link-button-active);
}
