@use '../../shared/styles/scrollbar' as *;

:host{
  display: block;
  height: 100%;
  max-height: calc(100dvh - var(--header-height-up));
  background-color: var(--color-bg);
  margin-top: var(--header-height-up);
  overflow-y: auto;

  @include custom-scrollbar;
}

// :host::-webkit-scrollbar {
//   width: 8px;
// }

// :host::-webkit-scrollbar-track {
//   background: var(--color-bg);
// }

// :host::-webkit-scrollbar-button {
//   height: 0;
//   display: none;
// }

// :host::-webkit-scrollbar-thumb {
//   background-color: var(--color-fg);
//   border-radius: 10px;
//   border: 2px solid transparent;
// }


.appMain{
  min-height: 100%;
}
