@use '../../shared/styles/scrollbar' as *;

:host{
  display: block;
  height: 100%;
  max-height: calc(100dvh - var(--header-height-up));
  background-color: var(--color-bg);
  margin-top: var(--header-height-up);
  overflow-y: auto;

  @include custom-scrollbar;
}


.appMain{
  min-height: 100%;
}
