:host{
  display: block;
  position: relative;
}

ng-link-button.playgroundButton{
  font-size: 1.2rem;
  padding: 0 1rem;
  --link-button-transition-duration: .3s;
}

ng-link-button.playgroundButton svg{
  fill: var(--color-fg);
}

ng-link-button.playgroundButton.solid{
  --link-button-bg: var(--color-primary);
  --link-button-color: var(--color-light);
}

ng-link-button.playgroundButton.toneHover{
  --link-button-hover-bg: var(--color-secondary);
}

ng-link-button.playgroundButton.solid.strokeHover{
  --link-button-hover-stroke: 2px solid var(--color-fg);
}

ng-link-button.playgroundButton.shadowHover{
  --link-button-hover-shadow: 2px 2px 10px var(--color-fg);
}

.clickedModal__position{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-trans);
  z-index: 100;

  display: flex;
  justify-content: center;
}

.clickedModal__content{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 50%;
  background-color: var(--color-fg);
  color: var(--color-bg);
  padding: 2rem;
  height: fit-content;
  min-height: 100px;
  margin-top: 20px;
  border-radius: 1rem;
}

.clickedModal__content ng-simple-button{
  margin-top: 1rem;
  --simple-button-bg: var(--color-primary-trans);
  --simple-button-hover-bg: var(--color-primary);
  --simple-button-color: var(--color-bg);
  --simple-button-padding: .7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
