:host{
  display: block;
  // height: calc(100dvh - var(--total-header-height));
  height: 100dvh;
  background-color: beige;

  position: relative;
}

.modal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-fg);
  opacity: .5;
  z-index: 888;

  transition: opacity .3s ease-in-out;
}

.modal-wrapper.hidden{
  // transition: opacity .3s .3s ease-in-out, z-index 0s .3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
app-link-button{
  --link-button-text-align: start;
  --link-button-font-size: 1rem;
  --link-button-font-weight: 500;
  --link-button-active: var(--color-primary-trans);
  --link-button-hover: var(--color-secondary-trans);
}



@media screen and (max-width: 1024px) {
  .componentsLayout__asideNav{
    background-color: var(--color-bg);
    width: 320px;
    position: absolute;
    top: 0;
    left: -320px;
    height: calc(100dvh - var(--total-header-height));
    padding: 16px 8px;

    transition: left .3s ease-in-out;
    overflow-y: auto;
  }

  .componentsLayout__asideNav::-webkit-scrollbar {
    width: 8px;
  }

  .componentsLayout__asideNav::-webkit-scrollbar-track {
    background: var(--color-bg);
  }

  .componentsLayout__asideNav::-webkit-scrollbar-button {
    height: 0;
    display: none;
  }

  .componentsLayout__asideNav::-webkit-scrollbar-thumb {
    background-color: var(--color-fg);
    border-radius: 10px;
    border: 2px solid transparent;
  }

  .componentsLayout__asideNav.shown{
    left: 0;
    z-index: 999;
  }
}

