:host{
  display: block;
  height: 100%;
  width: var(--doc-nav-width, 200px);
}

.docNav{
  // position: relative;
  padding: 1rem .5rem .5rem 1rem;
  position: sticky;
  top: var(--doc-nav-sticky-top, 48px);
  left: 0;
}

.docNav::before{
  content: "";
  position: absolute;
  left: 0;
  width: .3rem;
  height: 92%;
  background-color: var(--color-primary-trans);
}

ng-link-button{
  --link-button-hover-bg: transparent;
  --link-button-hover-color: var(--color-primary);
}
