:host{
  display: block;
  width: 100%;
  max-width: calc(100dvw - 50px);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: fit-content;
  margin: 1rem 0 2rem 0;
}

table th {
  // border-bottom: 2px solid #ccc;
  padding: 10px 8px;
  text-align: left;
}

table td{
  // border-bottom: 1px solid #ccc;
  padding: 10px 8px;
}

table td:first-child{
  font-weight: 700;
  text-wrap: nowrap;
}

table th, table tr, table td {
  border: 1px solid var(--color-fg-trans);
  padding: 8px;
}
