:host{
  display: block;
  width: 100%;
}

.dataTable__container{
  overflow-x: auto;
  // background-color: aqua;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

table {
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;

}

table th {
  padding: 10px 8px;
  text-align: left;
}

table td{
  padding: 10px 8px;
}

table td:first-child{
  font-weight: 700;
  text-wrap: nowrap;
}

table th, table tr, table td {
  border: 1px solid var(--color-fg-trans);
  padding: 8px;
}
