:host{
  display: block;
  width: 100%;
  // max-width: calc(100% - 50px);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: fit-content;
}

table th {
  // border-bottom: 2px solid #ccc;
  padding: 10px 8px;
  text-align: left;
}

table td{
  // border-bottom: 1px solid #ccc;
  padding: 10px 8px;
}

table td:first-child{
  font-weight: 700;
}

table th, table tr, table td {
  border: 1px solid #ccc; padding: 8px;
}
