:host {
  display: block;
}

ng-scroll-nav{
  width: 90%;
  min-width: 300px;
  --scroll-nav-justify-content: center;
  --scroll-nav-gap: .7rem;
}

ng-link-button{
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 700;
  --link-button-bg: var(--color-primary-trans);
  --link-button-color: var(--color-fg);
  --link-button-hover-bg: var(--color-primary);
  --link-button-padding: 1rem 2rem;
}
