:host{
  display: block;
}

.homeFeatKits{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.homeFeatKits__header{
  margin: 1rem 2rem .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ng-link-button.viewAll{
  font-weight: 700;
  --link-button-color: var(--color-primary);
  --link-button-hover-outline: 2px solid var(--color-primary);
}

ng-link-button.carousel-item{
  --link-button-justify-content: start;
  --link-button-padding: 0;
  --link-button-bg: transparent;
  --link-button-focus-ring: 3px solid var(--color-fg);
  --link-button-radius: 1rem;
}

ng-content-card{
  text-align: left;
  min-width: 280px;
  min-height: 150px;
}

ng-content-card [card-header]{
  font-size: 1rem;
  background: var(--main-gradient);
  color: var(--color-fg);
}

ng-content-card [card-footer]{
  font-size: 1rem;
  text-wrap: pretty;
}

@media screen and (max-width: 1100px) {
  ng-content-card{
    min-width: 220px;
    height: auto;
  }

  ng-content-card [card-image]{
    min-height: unset !important;
    height: auto;
  }
}

@media screen and (max-width: 600px) {

  .homeFeatKits__header{
    flex-direction: column;
    gap: 1rem;
  }
}
