:host{
  display: block;
  background: var(--color-bg);
  padding: 8px 16px;
  border-top: 1px solid var(--color-fg-trans);
}

.appFooter{
  margin: 1rem 0;
  display: flex;
}

.appFooter__leftFooter{
padding-left: 1rem;
}
