@if (catalogItems()) {
  @for (item of catalogItems(); track $index) {
    <a [routerLink]="item.url" class="cardList__itemLink">
      <ng-image-card hover="color">
        <section card-image>
          <img class="scaleHover" [src]="item.image" [alt]="'Universal UX ' + item.name + ' cover image'">
        </section>
        <section card-body>
          <h3>{{item.name}}</h3>
        </section>
        <footer card-footer>
          <p>{{item.description}}</p>
        </footer>
      </ng-image-card>
    </a>
  }
}

