:host{
  display: block;
  height: 100%;
  max-height: calc(100dvh - var(--total-header-height));
  background-color: red;
  // margin-top: var(--total-header-height);
  overflow-y: auto;

  position: relative;
}

.componentsLayout__header{
  display: none;
}

.componentsLayout__container{
  height: 120%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.componentsLayout__asideNav{
  position: sticky;
  top: 0;
  z-index: 888;
  background-color: var(--color-bg);
  border-right: .5px solid var(--color-fg-trans);
  width: 240px;
  padding: 16px 8px;
  height: calc(100dvh - var(--total-header-height));
  overflow-y: auto;
}

.componentsLayout__asideNav::-webkit-scrollbar {
  width: 8px;
}

.componentsLayout__asideNav::-webkit-scrollbar-track {
  background: var(--color-bg);
}

.componentsLayout__asideNav::-webkit-scrollbar-button {
  height: 0;
  display: none;
}

.componentsLayout__asideNav::-webkit-scrollbar-thumb {
  background-color: var(--color-fg);
  border-radius: 10px;
  border: 2px solid transparent;
}

.componentsLayout__main{
  background-color: var(--color-bg);
}

app-link-button{
  // --link-button-width: 100%;
  --link-button-text-align: start;
  --link-button-font-size: 1rem;
  --link-button-font-weight: 500;
  --link-button-active: var(--color-primary-trans);
  --link-button-hover: var(--color-secondary-trans);
}

@media screen and (max-width: 960px) {
  // .componentsLayout__header{
  //   background: linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 100%);
  //   height: var(--header-height-secondary);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   position: relative;
  // }

  // .componentsLayout__header ng-menu-button.opened{
  //   left: calc(100% - 52px);
  // }

  // .componentsLayout__header ng-menu-button{
  //   transition: left .3s ease-in-out;
  //   left: calc(50% - 28px);
  //   position: absolute;
  //   margin: 0 .8rem;
  //   --menu-button-color: var(--color-fg);
  //   --menu-button-size: 28px;
  // }

  .componentsLayout__container{
    grid-template-columns: 1fr;
  }

  .componentsLayout__asideNav{
    display: none;
  }

  // .componentsLayout__asideNav{
  //   position: absolute;
  //   top: 0;
  //   left: -240px;
  //   height: calc(100dvh - var(--total-header-height));

  //   transition: left .3s ease-in-out;
  // }

  // .componentsLayout__asideNav.shown{
  //   left: 0;
  //   z-index: 999;
  // }
}
