:root{
  --header-height: 56px;
  --total-header-height: 56px;

  --color-primary: #30a2fe;
  --color-secondary: #824dfe;

  --color-dark: #020f1a;
  --color-light: #FFF8F8;
  --color-dark-trans: #020f1a42;
  --color-light-trans: #fff8f83d;

  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);
  --color-bg-trans: var(--color-dark-trans);
  --color-fg-trans: var(--color-light-trans);

}

html{
  height: 100dvh;
  overflow: hidden;
  color: var(--color-fg);
}

html.light{
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
  --color-bg-trans: var(--color-light-trans);
  --color-fg-trans: var(--color-dark-trans);
}

body{
  font-family: 'DejaVu Sans';
  background-color: aquamarine;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-fg);
}


@media screen and (max-width: 720px) {
  :root{
    --total-header-height: 112px;
  }
}
