:root{
  --header-height: 56px;
  --total-header-height: 56px;
}

html{
  height: 100dvh;
  overflow: hidden;
}

body{
  background-color: aquamarine;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


@media screen and (max-width: 720px) {
  :root{
    --total-header-height: 112px;
  }
}
