:host{
  display: block;
  width: 100%;
}

.pgInputSelector{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.pgInputSelector h4{
  min-width: 50px;
}

.pgInputSelector__description{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.pgInputSelector__form{
  width: 100%;
  max-width: 200px;
}

.pgInputSelector__form select,
.pgInputSelector__form input{
  width: 100%;
  font-size: 1rem;
  padding: .3rem;
}

@media screen and (max-width: 720px) {
  .pgInputSelector{
    flex-wrap: wrap;
  }

  .pgInputSelector__form{
    width: 100%;
    max-width: unset;
  }

  .pgInputSelector__description{
    align-items: baseline;
  }
}
