:host{
  display: block;
  width: 100%;
}

.pgInputSelector{
  text-wrap: nowrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.pgInputSelector h4{
  min-width: 50px;
}

.pgInputSelector__description{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.5rem;
}

.pgInputSelector__form{
  width: 100%;
  max-width: 250px;
}

.pgInputSelector__form select,
.pgInputSelector__form input{
  width: 250px;
  font-size: 1rem;
  padding: .3rem;
}

@media screen and (max-width: 1100px) {
  .pgInputSelector{
    flex-wrap: wrap;
  }

  .pgInputSelector__form{
    width: 100%;
    max-width: unset;
  }

  .pgInputSelector__form select,
  .pgInputSelector__form input{
    width: 100%;
  }

  .pgInputSelector__description{
    align-items: baseline;
  }
}

@media screen and (max-width: 50px) {

}
