<section class="pgInputSelector">
  <article class="pgInputSelector__description">
    <h4>{{name()}}</h4>
    <p>{{description()}}</p>
  </article>

  <form class="pgInputSelector__form">
    @if (type() === 'select') {
      <select (change)="handleChangeFn($event)">
        @for (option of options(); track $index) {
          <option [value]="option">{{option}}</option>
        }
      </select>
    }
    @if (type() === 'text') {
      <input type="text" placeholder="type something" (input)="handleChangeFn($event)">
    }
  </form>
</section>
<app-divider/>
