:host{
  display: block;
}

.componentViewer{
  display:block;
}

ng-expand.playground{
  --expand-width: 100%;
  --expand-content-bg: var(--color-fg);
  --expand-content-color: var(--color-bg);
  min-width: 300px;
}


