:host{
  display: block;
  position: relative;

  overflow-x: visible;

  width: 100%;
}

.codeBlock__codeContainer{
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-fg-trans);
  border-radius: 10px;
  margin: 1rem 0 2rem;
  background-color: #0d1117;
}

.codeBlock__pre{
  max-width: calc(100% - 40px);
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  overflow: auto;
  contain: content;
}

.codeBlock__copyContainer{
  position: absolute;
  bottom: .5rem;
  right: .5rem;

  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.codeBlock__copyMessage{
  color: white;
  font-size: .8rem;
  border: 1px solid white;
  padding: 3px 5px;
}

.codeBlock__copyButton{
  padding: 10px;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;

  transition: transform .2s ease-in-out;
}

.codeBlock__copyButton:hover{
  transform: scale(1.2);
}
