:host{
  display: block;
}

ng-theme-toggle.playground{
  // --theme-toggle-bg-dark: var(--color-primary);
  // --theme-toggle-bg-light: var(--color-primary-trans);

  // --theme-toggle-hover-scale: 1.1;
  // --theme-toggle-hover-bg-dark: var(--color-secondary);
  // --theme-toggle-hover-bg-light: var(--color-secondary-trans);
  --theme-toggle-color-transition: 0s;

  // --theme-toggle-hover-shadow-color-dark: white;
  // --theme-toggle-hover-shadow-color-light: black;
}

ng-theme-toggle.playground.minimal{
  // --theme-toggle-hover-bg-dark: transparent;
  // --theme-toggle-hover-bg-light: transparent;
  // --theme-toggle-hover-color-dark: var(--color-secondary);
  // --theme-toggle-hover-color-light: var(--color-secondary-trans);
}

.componentViewer--theme-toggle{
  background-color: var(--color-light);
}

.componentViewer--theme-toggle.isDark{
  background-color: var(--color-dark);
}
