:host{
  display: block;
}

ng-theme-toggle.playground{
  --theme-toggle-color-transition: 0s;
}

.componentViewer--theme-toggle{
  background-color: var(--color-light);
}

.componentViewer--theme-toggle.isDark{
  background-color: var(--color-dark);
}
